@font-face {
  font-family: 'MyFont'; 
  src: url('../fonts/genshin.ttf') format('truetype');
}

body {
    font-family: MyFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #fff0f0, #ffd6d6); 
    color: #800000; 
}

html, body {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    background-color: #ffffff; 
    border: 2px solid #aa0000; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    width: 90%;
    max-width: 100vh;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #aa0000; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #800000; 
}

#inputFormula {
    padding: 0.5rem;
    font-size: 1rem;
    width: 80%;
    max-width: 400px;
    margin-bottom: 1rem;
    border: 1px solid #aa0000; 
    border-radius: 5px;
    background-color: #fff0f0; 
    color: #800000; 
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
    font-family: MyFont;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #aa0000; 
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    font-family: MyFont;
}

button:hover {
    background-color: #ff9999;
    transform: scale(1.05);
}

#message, #balanced, #codeOutput {
    margin-top: 1rem;
    font-size: 1rem;
    width: 80%;
    max-width: 500px;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    word-wrap: break-word;
}

#message {
    color: #aa0000; 
    background-color: #ffe6e6; 
    border: 1px solid #d00000; 
    display: none;
}

#balanced {
    color: #800000;
    background-color: #fff0f0;
    border: 1px solid #aa0000; 
    border-radius: 5px;
}

#codeOutput {
    color: #800000; 
    background-color: #fff0f0;
    border: 1px solid #aa0000; 
    border-radius: 5px;
}

.backtomenu {
    left: 10px; 
    top: 70%;
    padding: 10px 20px;
    background-color: #aa0000; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease, transform 0.2s ease;
    margin: 0 auto;
}

.backtomenu:hover {
    background-color: #ff9999; 
    transform: scale(1.05);
}

.backtomenu img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#balanced, #codeOutput {
    font-size: 1rem;
    width: calc(100% - 10px); 
    max-width: 490px; 
    padding: 1rem;
    margin: 1rem auto; 
    border-radius: 5px;
    text-align: center;
    word-wrap: break-word;
    box-sizing: border-box; 
}
