@font-face {
  font-family: 'YourFont'; 
  src: url('../fonts/gastine.ttf') format('truetype');
}
@font-face {
  font-family: 'MyFont'; 
  src: url('../fonts/mj.ttf') format('truetype');
}

body {
    font-family: MyFont;
    background: linear-gradient(135deg, #fff0f0, #ffd6d6); 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

html, body {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.menu {
    background-color: #ffffff; 
    border: 2px solid #aa0000; 
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 25rem;
    text-align: center;
    z-index: 1; 
}

.menu-img {
    margin-left: auto;
    margin-right: auto;
}

.cahai {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-block: 10px;
}

.menu-title {
    font-family: YourFont;
    font-size: 2rem;
    color: #aa0000; 
    margin-top: 3px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.menu-list li {
    margin-bottom: 15px;
}

.menu-item {
    display: block;
    text-decoration: none;
    background-color: #aa0000; 
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid #ff9999; 
    border-radius: 8px;
    font-family: MyFont;
}

.menu-item:hover {
    background-color: #ff9999; 
    transform: scale(1.05);
}

.menu-sub1 {
  text-decoration: none;
  margin-right: 10px;
}

.menu-sub1 img:hover {
  transform: scale(1.5);
}

.menu-sub1 img {
  height: 50px;
  transition: background-color 0.3s, transform 0.2s;
}

.menu-sub2 {
  text-decoration: none;
  margin-left: 10px;
}

.menu-sub2 img {
  height: 50px;
  transition: background-color 0.3s, transform 0.2s;
}

.menu-sub2 img:hover {
  transform: scale(1.5);
}

.school {
  text-align: center;
  color: #f03c4b;
  padding: 5px;
  margin: 0;
  font-size: 30px;
  text-shadow: 0 0 5px #ff9999, 0 0 10px #aa0000;
}

.text1 {
  text-align: center;
  color: #f03c4b;
  padding: 5px;
  margin: 0;
  font-size: 20px;
  text-shadow: 0 0 5px #ff9999, 0 0 10px #aa0000;
}

.frosted-glass {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.volume-checkbox {
    display: none;
}

.volume-label {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px; 
    height: 50px; 
    background-color: #f03c4b;
    border-radius: 50%; 
    box-shadow: 0 0 15px rgba(240, 60, 75, 0.75); 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none; 
    border: none; 
}

.volume-label:hover {
    box-shadow: 0 0 25px rgba(240, 60, 75, 1);
}

.volume-label::before {
    content: "";
    width: 60%;
    height: 60%;
    background: url('../images/volume-on.png') no-repeat center center;
    background-size: contain;
}

.volume-checkbox:checked + .volume-label::before {
    background-image: url('../images/volume-off.png');
}

