@font-face {
  font-family: 'YourFont'; 
  src: url('../fonts/gastine.ttf') format('truetype');
}
@font-face {
  font-family: 'MyFont'; 
  src: url('../fonts/mj.ttf') format('truetype');
}

body {
    font-family: MyFont;
    background: linear-gradient(135deg, #fff0f0, #ffd6d6); 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

html, body {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.menu {
    background-color: #ffffff; 
    border: 2px solid #aa0000; 
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 25rem;
    text-align: center;
    z-index: 1; 
}

.menu-title {
    font-family: YourFont;
    font-size: 2rem;
    color: #aa0000; 
    margin-top: 3px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.menu-list li {
    margin-bottom: 15px;
}

.menu-item {
    display: block;
    text-decoration: none;
    background-color: #aa0000; 
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid #ff9999; 
    border-radius: 8px;
    font-family: MyFont;
}

.menu-item:hover {
    background-color: #ff9999; 
    transform: scale(1.05);
}

.sub-menu {
    background-color: #800000; 
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #ff9999; 
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

.sub-menu:hover {
    background-color: #aa0000; 
    transform: scale(1.05);
}

