@font-face {
  font-family: 'moju';
  src: url('../fonts/moju.otf') format('truetype');
}

@font-face {
  font-family: 'times';
  src: url('../fonts/mj.ttf') format('truetype');
}

body {
    font-family: MyFont;
    background: linear-gradient(135deg, #fff0f0, #ffd6d6); 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    padding: 15px;
    width: 50vh;
    text-align: center;
    z-index: 1; 
}

h1 {   
   color: #aa0000;
   font-family: times;
   font-size: 5vh;
   margin: 0 auto;
   padding: 10px 15px;
   justify-content: center;
   align-items: center;
}

.gotomenu {
    text-decoration: none;
    background-color: #aa0000; 
    color: white;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: background-color 0.3s, transform 0.2s;
    border: 2px solid #ff9999; 
    border-radius: 8px;
    margin: 0 auto;
    padding: 10px 15px;
}


